<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <title>Happy</title>
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img id="logo" class="animate-up" src="/images/logo.svg" alt="Logomarca" />

          <div class="location animate-up">
            <strong>Rio do Sul</strong>
            <p>Santa Catarina</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Leve felicidade para o mundo</h1>

          <section class="visit animate-up">
            <p>Visite orfanatos e mude o dia de muitas criaças</p>

            <a href="orphanages.html" title="Visite orfanatos" class="animation-up">
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
